<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <title>Hello, world!</title>
  <style>
    .outgoing {
      display: block;
      width: 63%;
      float: right;
      text-align: left;
      padding-left: 10px;
      background: #e8ffe8;
      border-radius: 12px;
      margin-bottom: 12px;
      margin-top: 12px;
    }

    .incoming {
      display: block;
      width: 63%;
      float: left;
      text-align: left;
      padding-left: 10px;
      background: #e8ffff;
      border-radius: 12px;
      margin-bottom: 12px;
      margin-top: 12px;
      margin-left: 12px;
    }

    .incoming h6 {
      font-weight: bolder;
      margin-top: 10px;
    }

    .outgoing h6 {
      font-weight: bolder;
      margin-top: 10px;
    }

    .addClass {
      background: #ececec;
      border-bottom: solid 3px #fff;
      cursor: pointer;
    }
    li{
      list-style: none;
    }
  </style>
</head>

<body>
  <section>
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-3 border p-0" style="height: 100vh; overflow: hidden">
          <ul class="p-3 m-0 rounded" style="background: #e4e4e4">
            <li> Chat with user</li>
          </ul>
          <ul class="p-3 text-light rounded m-0" style="background: #d44848">
            <li> Unread Messages</li>
          </ul>

          <div class="p-3">
            <ul class="p-0 m-0">
              <li>
                <input id="myInput" onkeyup="myFunction()" type="text" class="p-2 form-control w-100"
                  placeholder="Search user...." />
              </li>
            </ul>
            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
              tabindex="0" style="height: 90vh; overflow: hidden; overflow-y: scroll">
              <table id="chatsList">

              </table>
            </div>
          </div>
        </div>
        <div class="col-md-9 ps-5" data-spy="scroll" data-target=".navbar" data-offset="50">
          <div class="border p-4 border-2">
            <div class="border p-3" style="height: 60vh; overflow: hidden; overflow-y: scroll">
              <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
                tabindex="0" id="chatBox">

              </div>
            </div>
          </div>
          <div>
            <textarea name="" id="textfield" class="form-control mt-4 border border-2" rows="5"></textarea>
            <button onclick="sendMessage()" style="background: rgb(164, 216, 118)" class="btn py-1 px-4 mt-3">
              Send
            </button>
            <a style="background: #d44848" class="btn py-1 px-4 mt-3 text-light" href="/dashboard">Back</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    const token = localStorage.getItem("token");
    var theChatId

    const sendMessage = () => {

      let text = document.getElementById("textfield").value

      console.log("fklfjfl")

      var settings = {
        "url": "http://localhost:5000/message",
        "method": "POST",
        "timeout": 0,
        "headers": {
          "authorization": token,
          "Content-Type": "application/json"
        },
        "data": JSON.stringify({
          "chatId": theChatId,
          "content": text
        }),
      };

      $.ajax(settings).done(function (response) {
        console.log(response);

        let chatBox = document.querySelector("#chatBox");

        let div = document.createElement("div");
        div.classList.add(response.sender.email === 'getproadmin000@gmail.com' ? 'outgoing' : 'incoming');
        div.setAttribute("id", response._id);
        let content = `<div><h6 id="scrollspyHeading1">${response.sender.username}</h6>
               <p>${response.content}</p>
              <div>`;
        div.innerHTML = content;

        chatBox.appendChild(div);
      })
    }

    const trClicked = (e) => {
      console.log("djhgdjhgdjdgjhg", e.target.id);
      theChatId = e.target.id;
      document.getElementById("chatBox").innerHTML = "";

      $.ajax({
        url: `http://localhost:5000/message/${e.target.id}`,
        method: "get",
        contentType: "application/x-www-form-urlencoded",
        headers: {
          authorization: token,
        },
        success: function (res) {
          console.log("***00000000000****", res);
          let chatBox = document.querySelector("#chatBox");

          res.forEach((response) => {
            let div = document.createElement("div");
            div.classList.add(response.sender.email === 'getproadmin000@gmail.com' ? 'outgoing' : 'incoming');
            div.setAttribute("id", response._id);
            let content = `<div><h6 id="scrollspyHeading1">${response.sender.username}</h6>
               <p>${response.content}</p>
              <div>`;
            div.innerHTML = content;

            chatBox.appendChild(div);
          });
          const chat = res[0].chatName;
          console.log(chat);
        },
        error: function (error) {
          console.log(error);
        },
      });
    };

    $.ajax({
      url: "http://localhost:5000/chat",
      method: "get",
      contentType: "application/x-www-form-urlencoded",
      headers: {
        authorization: token,
      },
      success: function (res) {
        console.log("***********************", res);
        // setChatId(response.data[0]._id);

        let chatsList = document.querySelector("#chatsList");
        console.log(chatsList);
        res.forEach((response) => {
          let tr = document.createElement("tr");
          tr.classList.add("addClass")
          tr.setAttribute("id", response._id);
          let content = `
          <td id=${response._id} class="" style="padding :10px;width:15%">
              <h4 id=${response._id} class="mb-0"><i id=${response._id} class="bi bi-person-circle"></i></h4>
          </td>
          <td id=${response._id}>${response.users.filter(
            (user) => user.email !== "getproadmin000@gmail.com"
          )[0].username
            }
          </td>`;
          tr.innerHTML = content;

          tr.onclick = trClicked;
          chatsList.appendChild(tr);
        });
        const chat = res[0].chatName;
        console.log(chat);
      },
      error: function (error) {
        console.log(error);
        if (
          error.responseJSON.data ===
          "Internal error occured: your account dose not exist"
        ) {
          Labelemail.style.display = "block";
          Labelemail.innerHTML = "your account dose not exist";
        } else if (
          error.responseJSON.data ===
          "Internal error occured: your password is inccorect"
        ) {
          labelpassword.style.display = "block";
          labelpassword.innerHTML = "your password is inccorect";
        }
      },
    });
    console.log(localStorage.getItem("token"));
  </script>
  <script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("chatsList");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>